<label> Class Title: </label>
<%= @school_class.title %><br>
<label> Room Number: </label>
<%= @school_class.room_number %>

<!-- 
<button>
  <a href="school_classess/<%= @school_class.id %>/edit">
    Update School Class
  </a>
</button>
-->
